<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renda Fixa - Detalhes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
</head>
<body>
    <header class="p-3 border-bottom">
        <div class="container"> 
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"> 
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"> 
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg> 
                </a> 
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"> 
                    <li><a href="/rendafixa/home" class="nav-link px-2 link-secondary">Home</a></li> 
                </ul> 
                <div class="text-end"> 
                    <!-- <button type="button" class="btn btn-outline-primary me-2">Login</button> 
                    <button type="button" class="btn btn-primary">Sign-up</button> -->
                </div>
            </div> 
        </div> 
    </header>
    <div class="container-fluid w-100" id="tab" style="height: 30px;">
                
    </div>
    <main class="container mt-6">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
            </div>
            <div class="card-footer bg-transparent">
                ---
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
    <script src="../static/scripts/home/graphic/generator.js"></script>
    <script src="../static/scripts/home/graphic/main.js"></script>   
</body>

</html>